* {
  box-sizing: border-box;
}

// colors
$green: hsl(75, 94%, 57%);

$white: hsl(0, 0%, 100%);

$grey-700: hsl(0, 0%, 20%);
$grey-800: hsl(0, 0%, 12%);
$grey-900: hsl(0, 0%, 8%);

@font-face {
  font-family: 'Inter';
  src: URL('../assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}


body {
  margin: 0;
  position: relative;
  font-family: 'Inter';
  color: $white;
  .bg-wrapper {
    background-color: $grey-900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    .main-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $grey-800;
      border-radius: 10px; 
      padding: 20px; 
      min-width: 250px; 
      .avatar-img {
        height: 60px;
        width: 60px;
        border-radius: 50px;
        margin: 10px;  
      }
      h1 {
        font-size: 16px;
        margin-bottom: 5px; 
      }
      h2 {
        margin-top: 0;
        font-size: 10px;
        color: $green;
      }
      p {
        font-size: 8px;
        margin-bottom: 15px; 
      }




      .link-container {
        display: flex;
        flex-direction: column;
        align-items: center; 
        width: 100%; 
        gap: 10px; 
        a {
          color: $white;
          text-align: center; 
          font-size: 10px;
          font-weight: 700;
          background-color: $grey-700;
          text-decoration: none;
          width: 100%; 
          padding: 10px; 
          border-radius: 5px; 
          &:active, &:hover {
            background-color: $green; 
            color: $grey-800;
          }
        }
      }
    }
  }
  .attribution { 
    position: absolute;
    bottom: 10px;

    font-size: 11px; 
    text-align: center; 
    a { 
      color: hsl(228, 45%, 44%); 
    }
  }

 

 
  
}